/** ============================ **/
/**   ===     HOME NAME    ===   **/
/** ============================ **/

h1 span {
    position: absolute;
    background: #2b3b44 !important;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 span.first-name {
    color: transparent;
    font-weight: bold;
    font-size: 150%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #D9D9D9;
}

h1 span.last-name {
    font-weight: bold;
    font-size: 151%;
    color: #D9D9D9;
}

h1 span.last-name:before{
    position: absolute;
    content: '';
    top: 50%;
    bottom: 50%;
    left: 0;
    width: 3px;
    background: #D9D9D9;
}

h1.build span.first-name {
    transform: translate(-121%, -50%);

    -ms-transition: transform 2s ease;
    -moz-transition: transform 2s ease;
    -webkit-transition: transform 2s ease;
}

h1.build span.last-name{
    transform: translate(-14%, -50%);

    -ms-transition: transform 2s ease;
    -moz-transition: transform 2s ease;
    -webkit-transition: transform 2s ease;
}

h1.build span.last-name:before{
    top: 22%;
    bottom: 22%;

    -ms-transition: top 0.8s ease, bottom 0.8s ease, background 0.2s ease;
    -moz-transition: top 0.8s ease, bottom 0.8s ease, background 0.2s ease;
    -webkit-transition: top 0.8s ease, bottom 0.8s ease, background 0.2s ease;
}

h1.build span.last-name.off:before {
    background: #2b3b44 !important;

    -ms-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -webkit-transition: background 0.2s ease;
}